* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}
body {
    background-color: #F7F0F5;
}

header {
    background-color: #11a79a;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}


#sidebar {
    position: fixed;
    z-index: 1;
    display: block;
    height: 100%;
    width: 200px;
    background-color: #3d3d3d;
    top: 0; left: 0;
    overflow-x: hidden;
    padding: 120px 10px 0px 15px;
}
#sidebar a {
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F7F0F5;
    font-size: 12px;
    padding: 10px;
}
#sidebar div {
    margin-bottom: 10px;
}
#sidebar span {
    font-family: 'Montserrat', sans-serif;
    color: #F7F0F5;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 10px;
}
#sidebar a:hover {
    background: #1e1e1e;
}
.content {
    width: 90%;
    margin: auto;
    display: flex;
    max-height: 100px ;
    justify-content: space-between;
}
.logo {
    padding: 10px 0px 60px 10px;
}
.menubar ul {
    padding: 10px 0px 10px 0px;
    margin-top: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    color: white;
    background: #3d3d3d;
    width: 100%;
    margin: auto;
    font-size: 15px;
    max-height: 20px;
}
.content ul {
    display: flex;
    margin-right: 30px;
    list-style: none;

}

.content li {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: red;
}

.menubar li a {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}