/* Global */
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #11a79a;
    position: relative;
    z-index: 2;
}
.content {
    width: 90%;
    margin: auto;
    display: flex;
    max-height: 100px ;
    justify-content: space-between;
}
.logo {
    padding: 10px 0px 60px 10px;
}
#sidebar {
    position: fixed;
    z-index: 1;
    display: block;
    height: 100%;
    width: 200px;
    background-color: #3d3d3d;
    top: 0; left: 0;
    overflow-x: hidden;
    padding: 120px 10px 0px 15px;
}
#sidebar a {
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F7F0F5;
    font-size: 12px;
    padding: 10px;
}
#sidebar div {
    margin-bottom: 10px;
}
#sidebar span {
    font-family: 'Montserrat', sans-serif;
    color: #F7F0F5;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 10px;
}
#sidebar a:hover {
    background: #1e1e1e;
}
/* Each CSS */
.content ul {
    display: flex;
    margin-right: 30px;
    list-style: none;

}

.content li {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

form {
    width: 70%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

form input {
    background: none;
    margin-bottom: 10px;
    border: gray 1px solid;
    min-height: 20px;
    padding: 0px 5px;
}

form input:focus {
    outline: none;
}

form input[type=text], .form input[type=number] {
    width: 50%;
}

form button {
    padding: 5px;
    background: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-shadow: none;
}

