{% extends 'base.html' %}

{% load static %}

{% block title %}
    Aplikasi Pengolahan Data Posyandu Desa Sumberejo
{% endblock %}

{% block style %}
    <link rel='stylesheet' type='text/css' href={% static 'index.css' %}>
{% endblock %}
{% block content %}
    <div class='index'>
        <h3>Selamat datang di</h3>
        <h1>PENDAPOS Desa Sumberejo</h1>
        <small>Pengolahan Data Posyandu Desa Sumberejo</small>
    </div>
    <div class='link'>
        <a href='input'>
            Input Data
        </a>
    </div>
{% endblock %}